// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;

// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;



// MOBILE VERSIONS

// Main Mobile Version (0px to 500px)
@media screen and (min-width: 376px) and (max-width: 500px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            ////////////////////////////////////////////////
            /// 
            /// MOBILE
            // MAIN MOBILE DISPLAY TO SHOW
            #mainmobilecontainer {
                #mainhomemobile {
                    background-color: $mainblue;
                    color: white;
                    height: 100vh;
                    .tophomemobilemain {
                        display: flex;
                        justify-content: space-between;
                        .logomobilemain {
                            margin: 3vh 0 0 4vw;
                            img {
                                width: 25vw;
                                height: 25vw;
                            }
                        }
                        .hamburgermobilemain {
                            position: relative;
                            display: block;
                            width: 60px;
                            height: 60px;
                            cursor: pointer;
                            appearance: none;
                            background: none;
                            outline: none;
                            border: none;
                            margin: 5vh 7vw 0 0;
                            z-index: 100;
                        }
                        .hamburgermobilemain:after, .hamburgermobilemain:before {
                            content: '';
                            display: block;
                            width: 10vw;
                            height: .7vh;
                            background-color: white;
                            margin: 1vh 0;
                            border-radius: 10px;
                            transition: 0.4s;
                        }
                        // Hamburger clicked
                        // Makes them X
                        .hamburgermobilemain.is-active:before {
                            transform: rotate(-45deg) translate(-1px, 20px);
                        }
                        .hamburgermobilemain.is-active:after {
                            transform: rotate(45deg) translate(-1px, -20px);
                        }
                        .hamburgermobilemain.is-active .barmobilemain {
                            opacity: 0;
                        }
                        .barmobilemain {
                            content: '';
                            display: block;
                            width: 10vw;
                            height: .7vh;
                            background-color: white;
                            margin: 1vh 0;
                            border-radius: 10px;
                        }
                    }
                    .nav-mobile-main-home {
                        position: fixed;
                        top: 0;
                        left: 100%;
                        width: 100%;
                        height: 100vh;
                        display: block;
                        z-index: 98;
                        background-color: $mainblue;
                        margin: 0 0 0 0;
                        transition: .8s;
                        .mobilelogomain {
                            margin: 5vh 15vw 0 0;
                            // background-color: #023430;
                            img {
                                margin: -2vh 0 0 5vw;
                                width: 25vw;
                                height: 25vw;
                            }
                        }
                        .mobilelistmain {
                            a {
                                display: block;
                                text-align: left;
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 6vw;
                                font-weight: bold;
                                margin: 4vh 0 0 9vw;
                            }
                        }
                        .slidesocialsmobilemain {
                            // background-color: #023430;
                            display: flex;
                            flex-direction: row;
                            gap: 2vw;
                            margin: 5vh 0 0 8vw;
                            img {
                                width: 10vw;
                                height: 10vw;
                            }
                        }
                    }
                    .nav-mobile-main-home a:hover {
                        color: $smallsgrey;
                    }
                    .nav-mobile-main-home.is-active {
                        left: 0;
                    }
                    // Need to set a CSS state that makes the
                    // menu evaporate

                    // BOTTOM OF MOBILE
                    .bothomemobilemain {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 5vh 0 0 0;
                        .photomobilemain {
                            img {
                                border-radius: 50%;
                                width: 40vw;
                                height: 40vw;
                            }
                        }
                        .nameheadmobilemain {
                            margin: 6vh 0 0 0;
                            #namemobilemain {
                                font-size: 8vw;
                                font-weight: bold;
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                            }
                            #jobdescripmobilemain {
                                font-family: 'Inter', sans-serif;
                                text-align: center;
                                color: $socialsgrey;
                                font-size: 5vw;
                            }
                        }
                        .catchphrasemobilemain {
                            margin: 10vh 0 0 0;
                            text-align: center;
                            #catchphrasemobilemain {
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                                font-size: 4vw;
                            }
                        }
                        .portfoliobuttonmobilemain {
                            border: 1px solid $portfolios;
                            border-radius: 30px;
                            background-color: $portfolios;
                            padding: 2vw;
                            width: 50vw;
                            text-align: center;
                            margin: 15vh 0 0 0;
                            a {
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }
            // SMALL MOBILE TO DISPLAY FOR NOW
            #smallmobilecontainer {
                display: none;
            }
            
            ////////////////////////////////////////////////
            /// 
            /// TABLET
            /// MAIN TABLET TO BE HIDDEN
            #maintabletcontainer {
                display: none;
            }
            // SMALL TABLET TO BE HIDDEN
            #smalltabletcontainer {
                display: none;
            }

            ////////////////////////////////////////////////
            /// 
            /// DESKTOP
            /// MAIN DESKTOP TO BE HIDDEN
            #maindesktopcontainer {
                display: none;
            }
        }
    }
}


// SMALL MOBILE DISPLAY
// Small Mobile Version (0px to 375px)
@media screen and (max-width: 375px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
                ///////////////////////////////////////////
            /// 
            /// MOBILE
            // MAIN MOBILE DISPLAY TO SHOW
            #mainmobilecontainer {
                display: none;
            }
            // SMALL MOBILE TO DISPLAY FOR NOW
            #smallmobilecontainer {
                #smallhomemobile {
                    background-color: blue;
                    color: white;
                    height: 100vh;
                }
            }
            
            ////////////////////////////////////////////////
            /// 
            /// TABLET
            /// MAIN TABLET TO BE HIDDEN
            #maintabletcontainer {
                display: none;
            }
            // SMALL TABLET TO BE HIDDEN
            #smalltabletcontainer {
                display: none;
            }

            ////////////////////////////////////////////////
            /// 
            /// DESKTOP
            /// MAIN DESKTOP TO BE HIDDEN
            #maindesktopcontainer {
                display: none;
            }
        }
    }
}

//////////////////////////////////////////////////////////////

// TABLET VERSIONS

// MAIN TABLET DISPLAY
// Main Tablet Version (from 500px to 1000px)
@media screen and (min-width: 700px) and (max-width: 1000px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            ///////////////////////////////////////////////
            /// 
            /// MOBILE
            // MAIN MOBILE DISPLAY TO SHOW
            #mainmobilecontainer {
                display: none;
            }
            // SMALL MOBILE TO DISPLAY FOR NOW
            #smallmobilecontainer {
                display: none;
            }
            ////////////////////////////////////////////////
            /// 
            /// TABLET
            /// MAIN TABLET TO BE HIDDEN
            #maintabletcontainer {
                #mainhometablet {
                    background-color: red;
                    color: white;
                    height: 100vh;
                }
            }
            // SMALL TABLET TO BE HIDDEN
            #smalltabletcontainer {
                display: none;
            }
            ////////////////////////////////////////////////
            /// 
            /// DESKTOP
            /// MAIN DESKTOP TO BE HIDDEN
            #maindesktopcontainer {
                display: none;
            }
        }
    }
}


// SMALL TABLET DISPLAY
// Small Tablet Version (500px to 700px
@media screen and (min-width: 500px) and (max-width: 700px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            ///////////////////////////////////////////////
            /// 
            /// MOBILE
            // MAIN MOBILE DISPLAY TO SHOW
            #mainmobilecontainer {
                display: none;
            }
            // SMALL MOBILE TO DISPLAY FOR NOW
            #smallmobilecontainer {
                display: none;
            }
            ////////////////////////////////////////////////
            /// 
            /// TABLET
            /// MAIN TABLET TO BE HIDDEN
            #maintabletcontainer {
                display: none;
            }
            // SMALL TABLET TO BE HIDDEN
            #smalltabletcontainer {
                #smallhometablet {
                    background-color: purple;
                    color: white;
                    height: 100vh;
                }
            }
            ////////////////////////////////////////////////
            /// 
            /// DESKTOP
            /// MAIN DESKTOP TO BE HIDDEN
            #maindesktopcontainer {
                display: none;
            }
        }
    }
}


// MAIN DESKTOP DISPLAY
// Main Desktop Version (0px to 1000px)
@media screen and (min-width: 1000px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            ///////////////////////////////////////////////
            /// 
            /// MOBILE
            // MAIN MOBILE DISPLAY TO SHOW
            #mainmobilecontainer {
                display: none;
            }
            // SMALL MOBILE TO DISPLAY FOR NOW
            #smallmobilecontainer {
                display: none;
            }
            ////////////////////////////////////////////////
            /// 
            /// TABLET
            /// MAIN TABLET TO BE HIDDEN
            #maintabletcontainer {
                display: none;
            }
            // SMALL TABLET TO BE HIDDEN
            #smalltabletcontainer {
                display: none;
            }
            ////////////////////////////////////////////////
            /// 
            /// DESKTOP
            /// MAIN DESKTOP TO BE HIDDEN
            #maindesktopcontainer {
                #mainhomedesktop {
                    background-color: #023430;
                    color: white;
                    height: 100vh;
                }
            }
        }
    }
}